@charset "utf-8";
/* CSS Document */
.wbody{width: 1000px;background-color: #034283;color: #FFF;}
header{width:50%;margin: 0 auto;text-align: center;}
.main{margin:10px;}
.border{border: 1px solid #CCC;}
.cur{background-color: #8c8c8c;color: #F00;}

nav a{margin-left: 10px;}
